body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* HEADER */
    /* Navbar */
        nav {
            background-color: #715771;
        }

        nav .nav-wrapper {
            margin: 0 10px;
        }

        .dropdown-content {
            top: 100% !important;
        }

        nav .dropdown-trigger:focus {
            outline: none;
        }

        nav .dropdown-content li:last-child:hover {
            background-color: #f003;
        }

/* MAIN */
main {
    flex-grow: 1;
    margin-bottom: 100px;
}

    /* Section */
    section {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    section aside {
        flex-grow: 1;
    }

    section aside h3 {
        font-size: 17px;
    }

    section section {
        display: flex;
        flex-direction: column;
        flex-grow: 10;
    }

    /* Inputs */
    .input-field.col label {
        left: 0;
    }

    .message-connexion {
        color:red;
    }

    /* USER */
    .form-post {
        max-width: 40%;
    }

    .form-post textarea {
        max-height: 150px;
        overflow-y: scroll;
    }

    .block-form {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .block-form form {
        flex-grow: 1;
        max-width: 500px;
        padding: 20px 30px;
        background-color: #e0e0e0;
        border-radius: 3px;
        border: 1px solid #cacaca;
        -webkit-box-shadow: 15px 10px 73px -32px rgba(0,0,0,0.75);
        -moz-box-shadow: 15px 10px 73px -32px rgba(0,0,0,0.75);
        box-shadow: 15px 10px 73px -32px rgba(0,0,0,0.75);
    }    

    .block-post {
        border: 1px solid rgb(185, 185, 185);
        margin: 30px 0;
        padding: 10px 15px;
        -webkit-box-shadow: 50px 64px 105px -85px rgba(0,0,0,0.75);
        -moz-box-shadow: 50px 64px 105px -85px rgba(0,0,0,0.75);
        box-shadow: 50px 64px 105px -85px rgba(0,0,0,0.75);
        border-radius: 4px;
    }

    .block-post p {
        margin: 0;
    }

    .date-post {
        display: block;
        font-size: 10px;
    }

    .block-comment {
        margin: 10px 0;
    }

    .date-comment {
        font-size: 10px;
        margin-left: 10px;
    }

/* FOOTER */
.page-footer {
    background-color: #715771;
}